@model MusBase.Models.RecordsArtist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecordsArtist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="RecordsArtists" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="RecordsArtists" asp-action="Index">Повернутися до списку</a>
</div>
