@{
    ViewData["Title"] = "Home Page";
}
<p>
    @*<a asp-action="Htmlpage"><button class="btn btn-primary">ddd</button></a>*@
    <a asp-controller="Genres"><button class="btn btn-primary">Жанри</button></a>
    <a asp-controller="Artists"><button class="btn btn-primary">Виконавці</button></a>
    <a asp-controller="Countries"><button class="btn btn-primary">Країни</button></a>
    <a asp-controller="Labels"><button class="btn btn-primary">Лейбли</button></a>
<p>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@